<div class="card">
  <div class="card-header">
    <h5>Nested Routes Demo</h5>
  </div>
  <div class="card-body">
    <button class="btn btn-primary" [routerLink]="['/nested-route-demo/nested-menu-1']" >Menu 1</button>
    <button class="btn btn-primary" [routerLink]="['/nested-route-demo/nested-menu-2']" >Menu 2</button>
    <p>Nested Route Components will appear in following box</p>
    <div style="border: 1px solid black; min-height: 30px; padding: 10px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
